<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} index {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap" rel="stylesheet">

    <link href="public/css/old.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Library App</div>
        <a href="#" class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="https://www.linkedin.com/in/mohamed-hasan-4b850418a/">Connect</a></li>
                <li><a href="https://github.com/mustachemo">Github</a></li>
            </ul>
        </div>

    </nav>

    <main>
    </main>


    <footer class="footer">
        <div class="footer-text">
            created by momoproblems for The Odin Project
        </div>
    </footer>
    
    <script src="public/js/navToggle.js"></script>
</body>
</html>