{% extends "base.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <form method="POST" action="/new">
    put your inputs and buttons in here!
    </form>
{% endblock %}
