{% extends "base.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h1>Posts</h1>
    <ul>
    {% for message in messages %}
    <li>{{ message.text }}</li>
    <li>{{ message.user }}</li>
    <li>{{ message.added }}</li>
    {% endfor %}
    </ul>
{% endblock %}