{% extends "base.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="message-container">
        {% for message in messages %}
        <div class="message">
            <h3 class="message-author">{{ message.author }}</h3>
            <p class="message-text">{{ message.text }}</p>
            <span class="message-timestamp">{{ message.timestamp }}</span>
        </div>
        {% endfor %}
  </div>
{% endblock %}